fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
pydantic-settings
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose
pgvector
sentence-transformers
#Collector Deprndencies
feedparser
httpx
beautifulsoup4
#LLM Orchestration Packages
langgraph
langchain
langchain-huggingface
huggingface_hub
mcp
#Email delivery
#resend(instead i used google mail service)
beautifulsoup4